[submodule "hackday/2012/things"]
	path = hackday/2012/things
	url = https://github.com/elizabrock/presentation_nashville_hack_day.git
[submodule "dropcards"]
	path = dropcards
	url = https://github.com/jorendorff/dropcards.git
[submodule "turtle-wars"]
	path = turtle-wars
	url = https://github.com/jorendorff/turtle-wars.git
